<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tbldevelopment.therackapp"
    android:versionCode="1"
    android:versionName="1.0" android:installLocation="auto">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="16" />
    
	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <!-- camera permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="true" />

    <!-- for most things, including card.io & paypal -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <supports-screens android:anyDensity="true"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/MyTheme"
        android:windowSoftInputMode="stateHidden|adjustResize"  android:largeHeap="true">
        <activity
            android:name="com.tbldevelopment.therackapp.SplashScreen"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".HomeActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
		    android:screenOrientation="portrait"
		    android:configChanges="keyboardHidden|orientation"/>
		
		<activity android:name=".ShareOnFacebook"
		    android:screenOrientation="portrait"
		    android:theme="@android:style/Theme.Dialog"
		    android:configChanges="keyboardHidden|orientation"/>
		
		<activity android:name=".FacebookSharing"
		    android:screenOrientation="portrait"
		    android:configChanges="keyboardHidden|orientation"
		    android:theme="@android:style/Theme.Dialog"/>
		
		<activity android:name=".MenActivity"
		    android:theme="@android:style/Theme.Black.NoTitleBar"
		    android:windowSoftInputMode="stateHidden|adjustResize"
		    android:screenOrientation="portrait"
		    android:configChanges="keyboardHidden|orientation"/>
		
		<activity android:name=".SignInActivity"
		    android:configChanges="keyboardHidden|orientation"
		    android:theme="@android:style/Theme.Black.NoTitleBar"
		    android:screenOrientation="portrait"/>
		
		<activity android:name=".MyRackActivity"
		    android:configChanges="keyboardHidden|orientation"
		    android:theme="@android:style/Theme.Black.NoTitleBar"
		    android:windowSoftInputMode="stateHidden|adjustResize"
		    android:screenOrientation="portrait"/>
		
		<activity android:name="com.tbldevelopment.therackapp.AddItemActivity"
		    android:windowSoftInputMode="stateHidden"
		    android:configChanges="keyboardHidden|orientation|screenSize"
		    android:theme="@android:style/Theme.Black.NoTitleBar"
		    android:screenOrientation="portrait"/>
		
		<activity android:name=".AddUserInfo"
		    android:theme="@android:style/Theme.Black.NoTitleBar"
		    android:configChanges="keyboardHidden|orientation"
		    android:windowSoftInputMode="stateHidden|adjustResize"
		    android:screenOrientation="portrait"/>
		
		
		<activity android:name=".AddUserProfile"
		    android:theme="@android:style/Theme.Black.NoTitleBar"
		    android:windowSoftInputMode="stateHidden|adjustResize"
		    android:configChanges="keyboardHidden|orientation"
		    android:screenOrientation="portrait"/>
		
		<activity android:name=".MessageActivity"
		    android:theme="@android:style/Theme.Black.NoTitleBar"
		    android:windowSoftInputMode="stateHidden|adjustResize"
		    android:configChanges="keyboardHidden|orientation"
		    android:screenOrientation="portrait"/>
		
		<activity android:name=".SocialActivity"
		    android:theme="@android:style/Theme.Black.NoTitleBar"
		    android:windowSoftInputMode="stateHidden|adjustResize"
		    android:configChanges="keyboardHidden|orientation"
		    android:screenOrientation="portrait"/>
		
		<activity android:name=".NotificationActivity"
		    android:windowSoftInputMode="stateHidden|adjustResize"
		    android:theme="@android:style/Theme.Black.NoTitleBar"
		    android:configChanges="keyboardHidden|orientation"
		    android:screenOrientation="portrait"/>
		
		<activity android:name=".GetItemDetails"
		    android:windowSoftInputMode="stateHidden|adjustResize"
		    android:theme="@android:style/Theme.Black.NoTitleBar"
		    android:screenOrientation="portrait"
		    android:configChanges="keyboardHidden|orientation"/>
		
		<activity android:name=".GetUserInfo"
		    android:theme="@android:style/Theme.Black.NoTitleBar"
		    android:windowSoftInputMode="stateHidden|adjustResize"
		    android:screenOrientation="portrait"
		    android:configChanges="keyboardHidden|orientation"/>
		
		
		<activity android:name=".AddCommentActivity"
		    android:theme="@android:style/Theme.Black.NoTitleBar"
		    android:windowSoftInputMode="stateHidden|adjustResize"
		    android:configChanges="keyboardHidden|orientation"
		    android:screenOrientation="portrait"/>
		
		<activity android:name=".CardPaymentActivty"
		    android:theme="@android:style/Theme.Black.NoTitleBar"
		    android:windowSoftInputMode="stateHidden|adjustResize"
		    android:configChanges="keyboardHidden|orientation"
		    android:screenOrientation="portrait"/>
		
		<activity android:name=".FollowFollowingActivity"
		    android:theme="@android:style/Theme.Black.NoTitleBar"
		    android:windowSoftInputMode="stateHidden|adjustResize"
		    android:screenOrientation="portrait"
		    android:configChanges="keyboardHidden|orientation"/>
		
		<activity android:name=".EditProfileActivity"
		    android:theme="@android:style/Theme.Black.NoTitleBar"
		    android:windowSoftInputMode="stateHidden|adjustResize"
		    android:configChanges="keyboardHidden|orientation"
		    android:screenOrientation="portrait"/>
		
		<activity android:name=".ChangePasswordActivity"
		    android:configChanges="keyboardHidden|orientation"
		    android:theme="@android:style/Theme.Black.NoTitleBar"
		    android:windowSoftInputMode="stateHidden|adjustResize"
		    android:screenOrientation="portrait"/>
		
		<activity android:name=".ShowNotificationActivity"
		    android:configChanges="keyboardHidden|orientation"
		    android:theme="@android:style/Theme.Black.NoTitleBar"
		    android:windowSoftInputMode="stateHidden|adjustResize"
		    android:screenOrientation="portrait"/>
		
		<activity android:name="com.tbldevelopment.therackapp.GetItemActivity"
		    android:theme="@android:style/Theme.Black.NoTitleBar"
		    android:configChanges="keyboardHidden|orientation"
		    android:windowSoftInputMode="stateHidden|adjustResize"
		    android:screenOrientation="portrait"/>
		
		
		<!-- paypal service and activity define -->
		
		<service android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />
        
        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" 
            android:windowSoftInputMode="stateHidden|adjustResize"
		    android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" 
            android:windowSoftInputMode="stateHidden|adjustResize"
		    android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" 
            android:windowSoftInputMode="stateHidden|adjustResize"
		    android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" 
            android:windowSoftInputMode="stateHidden|adjustResize"
		    android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="com.paypal.android.sdk.payments.PaymentCompletedActivity" />
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
		    android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" 
            android:windowSoftInputMode="stateHidden|adjustResize"
		    android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation"/>
		
    </application>

</manifest>